body { 
    border: solid 20px;
    border-color: #ad8b3a;
    border-style:double;
    background-image: url("/University-Certificate/Assets/Images/logo.jpg");
    background-repeat: no-repeat;
    background-size:250px;
    background-position-x: center;
    background-position-y: 200px;
    font-size: larger;
    padding-left: 50px;
    padding-bottom: 20px;
} 
h1,h2{
    text-align:center;
    -webkit-text-stroke: 2px black;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
}
h1{
    font-size:80px;
    margin-bottom: 10px;
    color :#a51c30;
}
h2{
    font-size:50px;
    margin-top: 10px;
    color: #a51c30;
}
.i1{
    border-radius: 50%;
    margin-left: 30px;
}


.p1{
    text-align: center;
    color: #000;
    font-variant: small-caps;
    font-size:40px;
}
.p2{
    text-align: center;
    color: #000;
    font-variant: small-caps;
    font-size:60px;
    font-weight: bold;
}