body { 
    border: solid 20px;
    color:#ad8b3a;
    border-style:double;
    background-image: url("/University-Certificate/Assets/Images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
} 
h1,h2{
    text-align:center;
    -webkit-text-stroke: 2px black;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
}
h1{
    font-size:80px;
    margin-bottom: 10px;
    color :#a51c30;
}
h2{
    font-size:50px;
    margin-top: 10px;
    color:#000000;
}
.i1{
    border-radius: 50%;
}